// Solid
$white: white;
$black: black;

$darkGrey: #303030;
$maxDarkGrey: #070707;

$blue: linear-gradient(to bottom right,#2dacf5,#2896d6); 
$blueT: #2dacf5; 

// Gradients
$dark: radial-gradient(#333, #111);