footer {
  position: fixed;
  z-index: 10000;
  bottom: 20px;
  padding: 10px 24px;
  color: $white;
  background: rgba(0,0,0,.3);
  .sign {
    margin-bottom: 0;
    padding-left: 40px;
    font-size: .8em;
  }
}