{% include header.html %}

<section id="home">

  <div class="top-left quarter">
    <div class="computer qrt-inner">
      <img class="computer-icon icon" src="images/home/laptop.svg" alt="">

      <div class="expanded">
        <h1>Lorem ipsum</h1>
        <p class="homedesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque blanditiis exercitationem?</p>
        <a href="/diagnostics" class="readmore">Read more</a>
      </div>


    </div>
  </div>
  
  <div class="top-right quarter">
    <div class="computer qrt-inner">
      <img class="computer-icon icon" src="images/home/tablet.svg" alt="">
      <div class="expanded">
        <h1>Lorem ipsum</h1>
        <p class="homedesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque blanditiis exercitationem?</p>
        <a href="/computers" class="readmore">Read more</a>
      </div>
    </div>
  </div>
  
  <div class="bottom-left quarter">
    <div class="computer qrt-inner">
      <img class="computer-icon icon" src="images/home/smartphone.svg" alt="">
      <div class="expanded">
        <h1>Lorem ipsum</h1>
        <p class="homedesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque blanditiis exercitationem?</p>
        <a href="/tablets" class="readmore">Read more</a>
      </div>
    </div>
  </div>
  
  <div class="bottom-right quarter">
    <div class="computer qrt-inner">
      <img class="computer-icon icon" src="images/home/assistant.svg" alt="">
      <div class="expanded">
        <h1>Lorem ipsum</h1>
        <p class="homedesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque blanditiis exercitationem?</p>
        <a href="/smart-devices" class="readmore">Read more</a>
      </div>
    </div>
  </div>

</section>

{% include footer.html %}